absl-py==2.1.0
annotated-types==0.7.0
anyio==4.6.2.post1
arviz==0.20.0
astropy==5.3.4
astroquery==0.4.7
astunparse==1.6.3
autograd==1.7.0
backports.tarfile==1.2.0
batman-package==2.4.9
beautifulsoup4==4.12.3
blosc2==2.7.1
bokeh==2.4.2
cachetools==5.5.0
celerite==0.4.3
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
configparser==5.0.1
contourpy==1.3.0
corner==2.2.2
cryptography==43.0.3
cycler==0.12.1
Cython==3.0.6
dearwatson==0.12.5
Deprecated==1.2.14
distro==1.9.0
dm-tree==0.1.8
ellc==1.8.8
emcee==3.1.6
everest-pipeline==2.0.12
exceptiongroup==1.2.2
exoml==0.1.29
extension-helpers==0.1
fbpca==1.0
filelock==3.16.1
flatbuffers==24.3.25
foldedleastsquares==1.1.6
fonttools==4.54.1
fsspec==2024.10.0
gast==0.4.0
george==0.4.3
google-auth==2.35.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.67.1
h11==0.14.0
h5netcdf==1.4.0
h5py==3.12.1
html5lib==1.1
httpcore==1.0.6
httpx==0.27.2
idna==3.10
imageio==2.9.0
importlib_metadata==8.5.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jax==0.4.30
jaxlib==0.4.30
jeepney==0.8.0
Jinja2==3.1.4
joblib==1.4.2
k2plr==0.2.9
kagglehub==0.3.3
keras==2.12.0
keras-core==0.1.7
keras-nlp==0.8.1
keyring==25.5.0
kiwisolver==1.4.7
lcbuilder==0.21.1
ldtk==1.8.4
libclang==18.1.1
lightkurve==2.4.2
llvmlite==0.41.1
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.8.2
mdurl==0.1.2
MechanicalSoup==1.3.0
MeepMeep==0.6.3
memoization==0.4.0
ml_dtypes==0.5.0
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
multipledispatch==1.0.0
namex==0.0.8
ndindex==1.9.2
networkx==3.4.2
numba==0.58.1
numexpr==2.10.1
numpy==1.23.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.6.77
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
oktopus==0.1.2
openai==1.30.1
opt_einsum==3.4.0
packaging==24.1
pandas==1.5.3
patsy==0.5.6
photutils==1.10.0
Pillow==9.5.0
pip==24.3.1
platformdirs==4.3.6
protobuf==4.25.5
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybind11==2.11.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydot==1.4.2
pyerfa==2.0.1.4
Pygments==2.18.0
pyopencl==2024.3
pyparsing==2.4.7
PyPDF2==3.0.1
pyrr==0.10.3
pysyzygy==0.0.2
python-dateutil==2.9.0.post0
pytools==2024.1.14
PyTransit==2.6.11
pytz==2024.2
pyvo==1.5.3
PyYAML==6.0.1
regex==2024.9.11
reportlab==4.0.7
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.3
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.12
scikit-learn==1.2.2
scipy==1.11.4
seaborn==0.13.2
SecretStorage==3.3.3
semantic-version==2.10.0
setuptools==75.1.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
statsmodels==0.13.5
sympy==1.13.3
tables==3.10.1
tenacity==9.0.0
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow==2.12.0
tensorflow-addons==0.19.0
tensorflow-estimator==2.12.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-text==2.12.1
termcolor==2.5.0
tess-point==0.6.1
tf-keras==2.15.0
threadpoolctl==3.5.0
torch==2.1.2
tornado==6.4.1
tqdm==4.66.6
traitlets==5.14.3
triceratops==1.0.18
triton==2.1.0
typeguard==4.1.5
typing_extensions==4.7.1
uncertainties==3.2.2
urllib3==2.2.3
webencodings==0.5.1
Werkzeug==3.1.0
wheel==0.44.0
wotan==1.9
wrapt==1.14.1
xarray==2024.3.0
xarray-einstats==0.8.0
zipp==3.20.2
